.wrapper {
	display: block;
}

.circle{
    border-radius: 100%;
    box-shadow: 0px 2px 2px 1px #888888;

}
.large{
    font-size: 25px;
}
ul {
	margin: 10px;
	margin-left: 0;
    padding-left: 0;
	height: auto;
	width: auto;
	text-decoration: none;
}
ul li {
	list-style-type: none;
	display: block;
	padding: 10px 30px 5px 30px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 2px 2px 1px #888888;
    color: #333;
}
li.true {
    background-color: #607D8B !important;
}