
<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<div class="wrapper">
  <ul class="" *ngFor = "let twit of tweets |  async">
    <li class="" *ngIf="twit.state" (click)="changeState(twit.$key,false)" [class.true]="twit.state">
      <img src="{{twit.pic}}" class="circle" style="width:60px">
      <span class="large">{{twit.$key}}</span><br>
      <span>{{twit.content}}</span>
      <br>
      <span>{{twit.state}}</span>
    </li>
<!---   twit.state false --->
    <li class="" *ngIf="!twit.state" (click)="changeState(twit.$key,true)" [class.true]="twit.state">
      <img src="{{twit.pic}}" class="circle" style="width:60px">
      <span class="large">{{twit.$key}}</span><br>
      <span>{{twit.content}}</span>
      <br>
      <span>{{twit.state}}</span>
    </li>
  </ul>
</div>




<!--

   <div> {{ (af.auth | async).uid }} </div>
 <button (click)="login()">Login</button>


<ul *ngFor="let item of items | async">
  <li class="text">
    {{item.text}}
  </li>
</ul>

<ul>
    <li *ngFor="let element of list | async">
      <input type="text" #updatesize [value]="element.text" />
      <button (click)="update(element.$key, updatesize.value)">Update</button>
      <button (click)="deleteelement(element.$key)">Delete</button>
    </li>
  </ul>
  <input type="text" #newitem />
  <button (click)="add(newitem.value)">Add.</button>
  <button (click)="deleteEverything()">Delete All.</button>

  -->