<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<tweets-section></tweets-section>


<!--

   <div> {{ (af.auth | async).uid }} </div>
 <button (click)="login()">Login</button>


<ul *ngFor="let item of items | async">
  <li class="text">
    {{item.text}}
  </li>
</ul>

<ul>
    <li *ngFor="let element of list | async">
      <input type="text" #updatesize [value]="element.text" />
      <button (click)="update(element.$key, updatesize.value)">Update</button>
      <button (click)="deleteelement(element.$key)">Delete</button>
    </li>
  </ul>
  <input type="text" #newitem />
  <button (click)="add(newitem.value)">Add.</button>
  <button (click)="deleteEverything()">Delete All.</button>

  -->