<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>

<login-section></login-section>

<div *ngIf="af.auth | async"> 
<ul>

  <li>
    <img src="{{ (af.auth | async)?.auth.photoURL }}" class="circle" style="width:60px">
  </li>
  <li>
    {{ (af.auth | async)?.auth.email }}
  </li>
  <li>
    {{ (af.auth | async)?.uid }}
  </li>
  <li>
    {{ (af.auth | async)?.auth.displayName }}
  </li>

</ul>

  <form-firebase></form-firebase>
  <tweets-section  ></tweets-section>
</div>




<!--

   <div> {{ (af.auth | async).uid }} </div>
 <button (click)="login()">Login</button>


<ul *ngFor="let item of items | async">
  <li class="text">
    {{item.text}}
  </li>
</ul>

<ul>
    <li *ngFor="let element of list | async">
      <input type="text" #updatesize [value]="element.text" />
      <button (click)="update(element.$key, updatesize.value)">Update</button>
      <button (click)="deleteelement(element.$key)">Delete</button>
    </li>
  </ul>
  <input type="text" #newitem />
  <button (click)="add(newitem.value)">Add.</button>
  <button (click)="deleteEverything()">Delete All.</button>

  -->