<div class="wrapper">


    <button (click)="save()"> NEW USER</button>


    <div>
        <ul>
            <li *ngFor="let usr of users |  async">
                {{usr.key}}
            </li>
        </ul>
    </div>


    <ul class="" *ngFor="let twit of tweets |  async">
        <li class="" *ngIf="twit.state" (click)="changeState(twit.$key,false)" [class.true]="twit.state">
            <img src="{{twit.pic}}" class="circle" style="width:60px">
            <span class="large">{{twit.$key}}</span><br>
            <span>{{twit.content}}</span>
            <br>
            <span>{{twit.state}}</span>
        </li>

        <!---   twit.state false --->

        <li class="" *ngIf="!twit.state" (click)="changeState(twit.$key,true)" [class.true]="twit.state">
            <img src="{{twit.pic}}" class="circle" style="width:60px">
            <span class="large">{{twit.$key}}</span><br>
            <span>{{twit.content}}</span>
            <br>
            <span>{{twit.state}}</span>
        </li>
    </ul>


</div>
