<!--<div >
    <h1>Model-based Form:</h1>
    <form #f="ngForm" >
        <p>
            <label>User ID:</label>
            <input type="text" id="userID" [(ngModel)] = 'userID' >
        </p>
        <p>
            <label>Twitter ID:</label>
            <input type="text" id="twitterID" ([ngModel]) = "twitterID" >
        </p>
        <p>
            <button (click) = "submitClick()" >Submit</button>
        </p>
    </form>

    <div>{{ f.value | json }}</div>
   
</div>
--->
<form #f="ngForm">
   <div ngControlGroup="name">
     <input ngControl="first" [(ngModel)]="userID"
     #first="ngForm">
     <input ngControl="last" [(ngModel)]="twitterID">
   </div>
   <button (click) = "submitClick(userID,twitterID)" >Submit</button>
</form>


<div>{{ f.value | json }} </div>


