<form #f="ngForm">
    <div ngControlGroup="KEYS">
        <div *ngIf="af.auth | async">
            <div> Your UID: {{ (af.auth | async)?.uid }} </div>
        </div>
        <input type="text" class="form-control" ngControl="TWKEY" [(ngModel)]="twitterID">
    </div>
    <button class="btn btn-default" (click)="submitClick(userID,twitterID)">Submit</button>
</form>


<div>{{ f.value | json }} </div>
<form #g="ngForm">
    <div ngControlGroup="get">
        <div *ngIf="af.auth | async">
            <div> Your UID: {{ (af.auth | async)?.uid }} </div>
        </div>
    </div>
    <button class="btn btn-info" (click)="getClick(userID)">Get TWKEY</button>
    
    <div *ngIf = "clickEvent">
        <div class="panel panel-primary">
            <div *ngFor="let key of pushTweets |  async">
                <div class="panel-body"> twKey: {{key.twKey}} </div>
                <div class="panel-footer">$key: {{key.$key}}</div>
            </div>
        </div>
    </div>

</form>
